body{
	font-size: 11px;
	font-family: "Arial";
}
html, body { height:100%; overflow:hidden }

.gu {
	width: 100%;
		height: 100%;
	min-width: 1200px;
}

.leftWindow {
	width: auto;
	min-width: 500px;
	margin: 5px;
	overflow: hidden;
	height: 100%;
}
.rightWindow {
	float: right;
	width: 600px;
	margin: 5px;
	height: 100%;
}

.editorWindow {
	border: 1px solid;
	width: 98%;
	min-height: 300px;
	margin: 5px;
	padding: 2px;
}	

.dataDiv {
	overflow: scroll;
	width: 100%;
	height: 94%;
	min-height: 300px;
}

.dataDiv td {
	font-size: 11px;
	border: 1px solid;
	width: 50px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.codeEditor {
	overflow: scroll;
}

.tableInput {
	font-size: 11px;
	border: 0px;
	width: 98%;
	height: 99%;
	background-color: yellow;
}

///////////////////////////////////////////////

.chartProperty {
	width: 100%;
	margin-top: 5px;
}  

.captionTD {
	padding: 3px;
	width: 15%;
	text-align:right;
}
.inputTD {
	vertical-align: middle;
	padding: 3px;
	width: 35%;
}
.inputTD3 {
	vertical-align: middle;
	padding: 3px;
}

.inputBoxSmall, 
.inputBox {
	padding-left: 3px;
	border: 1px solid  #c5c5c5;
	width: 60px;
}

.inputBoxSmall{
	width: 40px;
	margin-right: 10px;
}

.inputColor {
	width: 40px;
	border: 1px solid  #c5c5c5;
}
